{
  "printWidth": 100,
  "singleQuote": true,
  "tabWith": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "importOrder": [
    "^@aglyn/(.*)$",
    "^[./]",
    "^react$",
    "^react-dom$",
    "^next/(.*)$",
    "^@mui/(.*)$",
    "^mdi-icons",
    "^clsx$",
    "^[^./]",
    ".*"
  ],
  "importOrderSeparation": true
}
